@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --dark-grey: #121212;
    --light-gray: #1b1919;
    --primary: #bb86fc;
    --secondary: #03dac5;
    --text: #ffffff;
    --error: #B00020;
}
html {
    background-color: var(--dark-grey);
    color: var(--text);
}
body {
    font-family: "Poppins";
    font-weight: 400;
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 1000px;
    height: auto;
    background-color: var(--light-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
hr {
    width: 100%;
    border-color: var(--dark-grey);
}
.button-div {
    display: flex;
    flex-direction: column;
    .q-btn {
        color: var(--text);
        text-align: left;
        background-color: transparent;
        border: 1px solid rgba(161, 155, 155, 0.5);
        border-radius: 3px;
        height: 30px;
        box-shadow: 10px 10px 10px var(black);
        cursor: pointer;
        transition: all 0.3s;
    }
    .q-btn:hover {
        background-color: var(--secondary);
        color: black;
        border: 1px solid rgba(45, 43, 43, 0.5);
    }
    .q-btn.disabled {
        opacity: 0.9;
        pointer-events: none;
      }
    .q-btn:not(:last-child) {
        margin-bottom: 10px;
    }
}
.next-btn {
    color: var(--text);
    text-align: center;
    background-color: var(--primary);
    border: 1px solid rgba(161, 155, 155, 0.5);
    border-radius: 3px;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px var(black);
    cursor: pointer;
}
.success{
    background-color: var(--secondary) !important;
}
.failure{
    background-color: var(--error) !important;
}